<script setup>

</script>

<template>
    <div class="adv-block">
        <p class="adv-block__title">Advertisement</p>
        <p class="adv-block__message">You can place ads</p>
        <p class="adv-block__size">750x100</p>
    </div>
    <br>
    <br>
</template>

<style scoped>

.adv-block {
    max-width: 750px;
    max-height: 100px;
    background-color: #E8E8EA;
    margin: 0 auto;
    padding: 15px 0;
    border-radius: 12px;
}

.adv-block p {
    text-align: center;
    color: #696A75;
}

.adv-block__title {
    font-size: 14px;
    line-height: 20px;
}

.adv-block__message {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
}

.adv-block__size {
    font-size: 18px;
    line-height: 26px;
}
</style>
