<script setup>
import {Link} from "@inertiajs/vue3";
defineProps({links: Array});
</script>

<template>
    <div class="pagination">
        <Link
            v-for="(link, index) in links"
            :key="index"
            class=""
            :href="link.url"
            :class="{'active' : link.active}"
            v-html="link.label"
        />
    </div>
</template>

<style scoped>
.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 25px;
}

.pagination a {
    padding: 5px;
    border: 1px solid #E8E8EA;
    border-radius: 5px;
}

.pagination a:first-child,
.pagination a:last-child {
    border: 0;
}

.pagination a.active {
    background-color: #4B6BFB;
    color: #fff;
    border: 1px solid #4B6BFB;
}
</style>
