<script setup>
import {ref, provide} from 'vue';

const activeTabHash = ref('');
const tabs = ref([]);

provide('addTab', (tab) => {
    const count = tabs.value.push(tab);

    if (count === 1) {
        activeTabHash.value = tab.hash;
    }
});
provide('activeTabHash', activeTabHash);
</script>

<template>
    <div class="tabs">
        <ul class="tabs-list">
            <li
                class="tabs-list__item"
                v-for="tab in tabs"
                :key="tab.title"
                :class="{'active' : tab.hash === activeTabHash}"
                @click="activeTabHash = tab.hash"
            >
                {{ tab.title }}
            </li>
        </ul>
        <slot/>
    </div>
</template>

<style lang="scss" scoped>
.tabs {
    margin-bottom: 30px;

    &-list {
        display: flex;
        gap: 30px;
        justify-content: space-around;
        margin-bottom: 30px;

        &__item {
            color: #181A2A;
            font-size: 18px;
            line-height: 28px;
            font-weight: bold;
            cursor: pointer;

            &.active {
                border-bottom: 2px solid #000;
            }
        }
    }
}
</style>
