<script setup>
import Tabs from "@/Components/UI/Tabs.vue";
import Tab from "@/Components/UI/Tab.vue";
import PostsList from "@/Components/UI/Post/PostsListAdmin.vue";
import Datepicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';
import {Link, usePage, useForm, router} from "@inertiajs/vue3";
import {computed} from 'vue';
import moment from "moment";
import {MdSystemUpdateAlt, GlRemoveAll} from "@kalimahapps/vue-icons";
import NProgress from 'nprogress';

router.on('progress', (event) => {
    if (event.detail.progress.percentage) {
        NProgress.set((event.detail.progress.percentage / 100) * 0.9)
    }
});

const props = defineProps({
    currentUser: Object,
    currentUsersPosts: Object,
});

const page = usePage();

const user = computed(
    () => page.props.user
);

const usersAvaPath = computed(
    () => {
        if (props.currentUser.avatar_path) {
            return 'storage/' + props.currentUser.avatar_path;
        }
        return 'https://placehold.co/146x146';
    }
);

const timeWithUs = computed(
    () => {
        let months = moment().diff(props.currentUser.created_at, 'months');
        if (months === 0) {
            let days = moment().diff(props.currentUser.created_at, 'days');
            if (days === 0) {
                return 'joined today';
            }
            return 'joined ' + days + ' days ago';
        }
        return 'joined ' + months + ' months ago';
    }
);

const updateUserInfo = useForm({
    name: props.currentUser.name ?? null,
    nickname: props.currentUser.nickname ?? null,
    email: props.currentUser.email ?? null,
    birthday: props.currentUser.birthday ?? null,
    address: props.currentUser.address ?? null,
});

const updateUserAva = useForm({
    image: null,
});
const imageErrors = computed(() => Object.values(updateUserAva.errors));

const update = () => updateUserInfo.put(route('user-account.update', {user_account: props.currentUser.id}));

const handleAvatarUpload = (event) => {
    updateUserAva.image = event.target.files[0];
    updateUserAva.post(route('user-account.avatar.store', {user_account: props.currentUser.id}));
}
</script>

<template>
    <section class="user-account container">
        <div class="user-account__preview">
            <div class="avatar">
                <div class="avatar__pic">
                    <img alt="user-ava" :src="usersAvaPath"/>
                </div>
                <div class="avatar__controls">
                    <div class="avatar__update">
                        <input
                            id="user-ava-pic"
                            type="file"
                            @change="handleAvatarUpload($event)"
                            accept="image/*"
                            style="display:none;"
                        />
                        <div v-if="imageErrors.length" class="input-error">
                            <div v-for="(error, index) in imageErrors" :key="index">
                                {{ error }}
                            </div>
                        </div>
                        <label for="user-ava-pic">
                            <MdSystemUpdateAlt class="icon-btn"/>
                        </label>
                    </div>
                    <div class="avatar__delete">
                        <Link method="delete"
                              :href="route('user-account.avatar.destroy', {user_account:props.currentUser.id})">
                            <GlRemoveAll class="icon-btn icon-btn__red"/>
                        </Link>
                    </div>
                </div>
            </div>
            <div class="info">
                <p class="user-name"><b>@{{ props.currentUser.nickname }}</b> {{ props.currentUser.name }}</p>
                <p class="user-other-info">
                    <span v-if="props.currentUser.birthday">
                        {{ moment().diff(props.currentUser.birthday, 'years') }} ·
                    </span>
                    <span v-if="props.currentUser.address">
                        {{ props.currentUser.address }} ·
                    </span>
                    {{ timeWithUs }}
                </p>
            </div>
        </div>

        <div class="user-account__settings">
            <Tabs>
                <Tab title="Posts">
                    <div v-if="currentUsersPosts.data.length">
                        <div class="add-new-post">
                            <Link
                                class="simple-link"
                                :href="route('post.create')"
                            >
                                Add new post
                            </Link>
                        </div>
                        <PostsList
                            :sectionTitle="'My Posts'"
                            :posts="currentUsersPosts.data"/>
                    </div>
                    <div class="no-posts" v-else>
                        <h2 class="title"> You have no created posts. </h2>
                        <Link
                            class="btn-primary"
                            :href="route('post.create')"
                        >
                            Create the first one!
                        </Link>
                    </div>
                </Tab>
                <Tab title="Comments (in progress)">Tab 2 Content</Tab>
                <Tab title="Notifications (in progress)">Tab 3 Content</Tab>
                <Tab title="Settings">
                    <h2 class="title-middle"> Account </h2>
                    <div class="user-form">
                        <form @submit.prevent="update">
                            <div class="user-form__input">
                                <label class="label" for="name"> Name </label>
                                <input id="name" v-model="updateUserInfo.name" type="text" class="input"
                                       :class="{ 'failed-input': updateUserInfo.errors.name }" placeholder="Username"/>
                                <div class="input-error" v-if="updateUserInfo.errors.name">{{
                                        updateUserInfo.errors.name
                                    }}
                                </div>
                            </div>
                            <div class="user-form__input">
                                <label class="label" for="nickname"> Nickname </label>
                                <input id="nickname" v-model="updateUserInfo.nickname" type="text" class="input"
                                       :class="{ 'failed-input': updateUserInfo.errors.nickname }"
                                       placeholder="Nickname"/>
                                <div class="input-error" v-if="updateUserInfo.errors.nickname">{{
                                        updateUserInfo.errors.nickname
                                    }}
                                </div>
                            </div>
                            <div class="user-form__input">
                                <label class="label" for="email"> Email </label>
                                <input id="email" v-model="updateUserInfo.email" type="text" class="input"
                                       :class="{ 'failed-input': updateUserInfo.errors.email }" placeholder="Email"/>
                                <div class="input-error" v-if="updateUserInfo.errors.email">
                                    {{ updateUserInfo.errors.email }}
                                </div>
                            </div>
                            <div class="user-form__input">
                                <label class="label"> Birthday </label>
                                <Datepicker
                                    v-model="updateUserInfo.birthday"
                                    :enable-time-picker="false"
                                />
                            </div>
                            <div class="user-form__input">
                                <button type="submit" class="btn-primary">
                                    Save Changes
                                </button>
                            </div>
                        </form>
                    </div>
                </Tab>
            </Tabs>
        </div>
    </section>

</template>

<style lang="scss" scoped>
.user-account__preview {
    display: flex;
    gap: 32px;
    align-items: center;
    padding: 40px 0;
    margin-bottom: 20px;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > div {
        flex-grow: 1;
    }

    &__pic {
        width: 146px;
        height: 146px;

        & img {
            object-fit: contain;
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    &__controls {
        display: flex;
        gap: 10px;
    }

}

.user-form {
    margin-bottom: 32px;

    &__input {
        margin-bottom: 10px;
    }
}

.user-name {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 10px;
}

.user-other-info {
    color: #696A75;
}

.add-new-post {
    margin-bottom: 15px;
}

.no-posts {
    text-align: center;
}


</style>
