<script setup>
import PageTitle from "@/Components/UI/Page/PageTitle.vue";
import {useForm, usePage} from "@inertiajs/vue3";
import {computed, ref} from "vue";
import Multiselect from '@vueform/multiselect';

const props = defineProps({
    allTags: Array
});

const createPostInfo = useForm({
    title: null,
    content: null,
    main_picture: null,
    thumbnail_picture: null,
    selected_tags: []
});

const page = usePage();

const mainImageUrl = ref('');
const thumbnailImageUrl = ref('');

const user = computed(
    () => page.props.user
);

const handlePostsMainPicUpload = (event) => {
    let image = createPostInfo.main_picture = event.target.files[0];
    let reader = new FileReader();
    reader.onload = () => {
        mainImageUrl.value = reader.result;
    };
    reader.readAsDataURL(image);
}

const handlePostsThumbnailPicUpload = (event) => {
    let image = createPostInfo.thumbnail_picture = event.target.files[0];
    let reader = new FileReader();
    reader.onload = () => {
        thumbnailImageUrl.value = reader.result;
    };
    reader.readAsDataURL(image);
}

const create = () => {
    createPostInfo.post(route('post.store'))
};
</script>

<template>
    <section class="post-create container">
        <PageTitle :header="'New Post'"/>
        <div class="post-create__form">
            <form @submit.prevent="create">
                <div class="post-form__input">
                    <label class="label" for="title"> Title </label>
                    <input id="title" v-model="createPostInfo.title" type="text" class="input"
                           :class="{ 'failed-input': createPostInfo.errors.title }" placeholder="Title"/>
                    <div class="input-error" v-if="createPostInfo.errors.title">
                        {{
                            createPostInfo.errors.title
                        }}
                    </div>
                </div>
                <div class="post-form__input">
                    <label class="label" for="title"> Tags </label>
                    <Multiselect
                        class="input"
                        v-model="createPostInfo.selected_tags"
                        mode="tags"
                        :close-on-select="false"
                        :searchable="true"
                        :create-option="true"
                        :options="props.allTags"
                    ></Multiselect>
                </div>
                <div class="post-form__input">
                    <label class="label" for="content"> Content </label>
                    <textarea class="input" id="content" v-model="createPostInfo.content" name="content" rows="5"
                              cols="33">
                    </textarea>
                    <div class="input-error" v-if="createPostInfo.errors.content">{{
                            createPostInfo.errors.content
                        }}
                    </div>
                </div>
                <div class="post-form__input">
                    <label class="label" for="picture">Thumbnail Picture (360x240) </label>
                    <input @change="handlePostsThumbnailPicUpload($event)" class="input" id="main_picture" type="file"/>
                    <div class="input-error" v-if="createPostInfo.errors.main_picture">{{
                            createPostInfo.errors.thumbnail_picture
                        }}
                    </div>
                    <img v-if="thumbnailImageUrl" :src="thumbnailImageUrl" alt="Image preview">
                </div>
                <div class="post-form__input">
                    <label class="label" for="picture">Main Picture (800x462) </label>
                    <input @change="handlePostsMainPicUpload($event)" class="input" id="main_picture" type="file"/>
                    <div class="input-error" v-if="createPostInfo.errors.main_picture">{{
                            createPostInfo.errors.main_picture
                        }}
                    </div>
                    <img v-if="mainImageUrl" :src="mainImageUrl" alt="Image preview">
                </div>
                <div class="post-form__input">
                    <button type="submit" class="btn-primary">
                        Create Post
                    </button>
                </div>
            </form>
        </div>
    </section>
</template>

<style lang="scss" scoped>

.post-form {

    &__input {
        margin-bottom: 10px;
    }

    &__actions {
        display: flex;
        gap: 15px;
    }
}

.post-create__form {
    margin-bottom: 15px;
}
</style>
