<script setup>
import PageTitle from "@/Components/UI/Page/PageTitle.vue";
import {router, useForm, usePage} from "@inertiajs/vue3";
import {computed, ref} from "vue";
import Multiselect from "@vueform/multiselect";

const props = defineProps({
    post: Object,
    allTags: Array
});


const updatePostInfo = useForm({
    title: props.post.title ?? '',
    content: props.post.content ?? '',
    main_picture: '',
    thumbnail_picture: '',
    selected_tags: props.post.tags.map(tag => tag.id),
    _method: 'put'
});

const page = usePage();

const mainImageUrl = ref('');
const thumbnailImageUrl = ref('');

const user = computed(
    () => page.props.user
);

const postsPicPath = (path, size) => {
    if (path) {
        return window.location.origin + '/storage/' + path;
    }

    return 'https://placehold.co/' + size;
};

const handlePostsMainPicUpload = (event) => {
    let image = updatePostInfo.main_picture = event.target.files[0];
    let reader = new FileReader();
    reader.onload = () => {
        mainImageUrl.value = reader.result;
    };
    reader.readAsDataURL(image);
}

const handlePostsThumbnailPicUpload = (event) => {
    let image = updatePostInfo.thumbnail_picture = event.target.files[0];
    let reader = new FileReader();
    reader.onload = () => {
        thumbnailImageUrl.value = reader.result;
    };
    reader.readAsDataURL(image);
}

const edit = () => {
    updatePostInfo.post(route('post.update', {post: props.post.id}));
};

const remove = () => {
    if(window.confirm("Do you really want to delete this post?")) {
        router.delete(route('post.destroy', {post: props.post.id}));
    }
};
</script>

<template>
    <section class="post-create container">
        <PageTitle :header="'Update Post #' + props.post.id"/>
        <div class="post-create__form">
            <form @submit.prevent="edit" enctype="multipart/form-data">
                <div class="post-form__input">
                    <label class="label" for="title"> Title </label>
                    <input id="title" v-model="updatePostInfo.title" type="text" class="input"
                           :class="{ 'failed-input': updatePostInfo.errors.title }" placeholder="Title"/>
                    <div class="input-error" v-if="updatePostInfo.errors.title">{{
                            updatePostInfo.errors.title
                        }}
                    </div>
                </div>
                <div class="post-form__input">
                    <label class="label" for="title"> Tags </label>
                    <Multiselect
                        class="input"
                        v-model="updatePostInfo.selected_tags"
                        mode="tags"
                        :close-on-select="false"
                        :searchable="true"
                        :create-option="true"
                        :options="props.allTags"
                    ></Multiselect>
                </div>
                <div class="post-form__input">
                    <label class="label" for="content"> Content </label>
                    <textarea class="input" id="content" v-model="updatePostInfo.content" name="content" rows="5"
                              cols="33">
                    </textarea>
                    <div class="input-error" v-if="updatePostInfo.errors.content">{{
                            updatePostInfo.errors.content
                        }}
                    </div>
                </div>
                <div class="post-form__input">
                    <label class="label" for="picture">Thumbnail Picture (360x240) </label>
                    <input name="picture" @change="handlePostsThumbnailPicUpload($event)"
                           @input="updatePostInfo.thumbnail_picture = $event.target.files[0]" class="input" id="thumbnail_picture"
                           type="file"/>
                    <img v-if="thumbnailImageUrl || postsPicPath(post.thumbnail_path,'360x240')" :src="thumbnailImageUrl || postsPicPath(post.thumbnail_path, '360x240')" alt="Image preview">
                    <div class="input-error" v-if="updatePostInfo.errors.main_picture">{{
                        updatePostInfo.errors.main_picture
                        }}
                    </div>
                </div>
                <div class="post-form__input">
                    <label class="label" for="picture">Main Picture (800x462) </label>
                    <input name="picture" @change="handlePostsMainPicUpload($event)"
                           @input="updatePostInfo.main_picture = $event.target.files[0]" class="input" id="main_picture"
                    type="file"/>
                    <img v-if="mainImageUrl || postsPicPath(post.picture_path, '800x462')" :src="mainImageUrl || postsPicPath(post.picture_path, '800x462')" alt="Image preview">
                    <div class="input-error" v-if="updatePostInfo.errors.main_picture">{{
                            updatePostInfo.errors.main_picture
                        }}
                    </div>
                </div>
                <div class="post-form__actions">
                    <button type="submit" class="btn-primary">
                        Update
                    </button>
                    <a class="btn-primary" @click="remove">
                        Remove
                    </a>
                </div>
            </form>
        </div>
    </section>
</template>

<style lang="scss" scoped>

.post-form {

    &__input {
        margin-bottom: 10px;
    }

    &__actions {
        display: flex;
        gap: 15px;
    }
}

.post-create__form {
    margin-bottom: 15px;
}
</style>
