<script setup>
import Tags from "@/Components/Tags.vue";
import PostTitle from "@/Components/UI/Post/PostTitle.vue";
import PostAuthorAndDate from "@/Components/UI/Post/PostAuthorAndDate.vue";
import AdvBlock from "@/Components/UI/AdvBlock.vue";
import {computed} from "vue";

const props = defineProps({
    post: Object
});

const postsPicPath = computed(
    () => {
        if (props.post.picture_path) {
            return window.location.origin + '/storage/' + props.post.picture_path;
        }
        return 'https://placehold.co/800x462';
    }
);

</script>

<template>
    <section class="post-section post-container">
        <Tags/>
        <PostTitle>{{post.title}}</PostTitle>
<!--        <PostAuthorAndDate style="margin-bottom: 32px;" author="Jason Francisco" date="August 20, 2022"/>-->
        <div class="post-section__pic">
            <img :src='postsPicPath' alt="Main posts picture">
        </div>
        <p class="post-txt">
            {{ post.content }}
        </p>
<!--        <p class="post-txt">
            One of the most rewarding aspects of traveling is immersing yourself in the local culture and customs. This
            includes trying local cuisine, attending cultural events and festivals, and interacting with locals.
            Learning a few phrases in the local language can also go a long way in making connections and showing
            respect.
        </p>-->
<!--        <AdvBlock/>-->
<!--        TODO: Make posts builder-->
<!--        <h2 class="post-subheader">
            Research Your Destination
        </h2>
        <p class="post-txt">
            Before embarking on your journey, take the time to research your destination. This includes understanding
            the local culture, customs, and laws, as well as identifying top attractions, restaurants, and
            accommodations. Doing so will help you navigate your destination with confidence and avoid any cultural faux
            pas.
        </p>
        <p class="post-txt">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. In hendrerit gravida rutrum quisque non tellus orci ac auctor. Mi ipsum faucibus vitae
            aliquet nec ullamcorper sit amet. Aenean euismod elementum nisi quis eleifend quam adipiscing vitae. Viverra
            adipiscing at in tellus.
        </p>
        <h2 class="post-subheader">
            Plan Your Itinerary
        </h2>
        <p class="post-txt">
            While it's essential to leave room for spontaneity and unexpected adventures, having a rough itinerary can
            help you make the most of your time and budget. Identify the must-see sights and experiences and prioritize
            them according to your interests and preferences. This will help you avoid overscheduling and ensure that
            you have time to relax and enjoy your journey.
        </p>
        <p class="post-txt">
            Vitae sapien pellentesque habitant morbi tristique. Luctus venenatis lectus magna fringilla. Nec ullamcorper
            sit amet risus nullam eget felis. Tincidunt arcu non sodales neque sodales ut etiam sit amet.
        </p>
        <p class="post-quote">
            “ Traveling can expose you to new environments and potential health risks, so it's crucial to take
            precautions to stay safe and healthy. ”
        </p>
        <div class="post-section__pic">
            <img src='/static/man-travelling.png' alt="Main section pic">
        </div>
        <AdvBlock/>
        <h2 class="post-subheader">
            Pack Lightly and Smartly
        </h2>
        <p class="post-txt">
            Packing can be a daunting task, but with some careful planning and smart choices, you can pack light and
            efficiently. Start by making a packing list and sticking to it, focusing on versatile and comfortable
            clothing that can be mixed and matched. Invest in quality luggage and packing organizers to maximize space
            and minimize wrinkles.
        </p>
        <h2 class="post-subheader">
            Stay Safe and Healthy
        </h2>
        <p class="post-txt">
            Traveling can expose you to new environments and potential health risks, so it's crucial to take precautions
            to stay safe and healthy. This includes researching any required vaccinations or medications, staying
            hydrated, washing your hands frequently, and using sunscreen and insect repellent. It's also essential to
            keep your valuables safe and secure and to be aware of your surroundings at all times.
        </p>
        <h2 class="post-subheader">
            Immerse Yourself in the Local Culture
        </h2>
        <p class="post-txt">
            One of the most rewarding aspects of traveling is immersing yourself in the local culture and customs. This
            includes trying local cuisine, attending cultural events and festivals, and interacting with locals.
            Learning a few phrases in the local language can also go a long way in making connections and showing
            respect.
        </p>
        <h2 class="post-subheader">
            Capture Memories
        </h2>
        <p class="post-txt">
            Finally, don't forget to capture memories of your journey. Whether it's through photographs, journaling, or
            souvenirs, preserving the moments and experiences of your travels can bring joy and nostalgia for years to
            come. However, it's also essential to be present in the moment and not let technology distract you from the
            beauty of your surroundings.
        </p>
        <h2 class="post-subheader">
            Conclusion:
        </h2>
        <p class="post-txt">
            Traveling is an art form that requires a blend of planning, preparation, and spontaneity. By following these
            tips and tricks, you can make the most of your journey and create memories that last a lifetime. So pack
            your bags, embrace the adventure, and enjoy the ride.
        </p>-->
    </section>
</template>

<style scoped>
.post-container {
    max-width: 800px;
    margin: 0 auto;
}

.post-section__pic {
    margin-bottom: 32px;
}

.post-section__pic img {
    width: 100%;
    height: auto;
}

.post-txt {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 32px;
}

.post-subheader {
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.post-quote {
    border-left: 4px solid #E8E8EA;
    margin-bottom: 32px;
    padding: 32px;
    background-color: #F6F6F7;
    border-radius: 12px;
    font-style: italic;
    font-size: 24px;
    line-height: 32px;
}
</style>
