<script setup>
import PageTitle from "@/Components/UI/Page/PageTitle.vue";
import PostsList from "@/Components/UI/Post/PostsList.vue";
import Pagination from "@/Components/UI/Pagination.vue";
import {Link, router, useForm} from '@inertiajs/vue3';
import {ref, computed} from "vue";

defineProps({
    posts: Object,
});

const created_at = ref(null);

const sort = (event) => {

    router.get(
        route('blog'),
        {
            created_at: created_at.value
        },
        {
            preserveState: true,
            preserveScroll: true
        }
    );
};
</script>

<template>
    <PageTitle :header="'Blog'"/>
    <section class="blog-section container">
        <div class="blog-section__head">
            <p class="blog-section__head-title">All Posts</p>
            <div class="blog-section__head-sorting">
                <span> Sort by: </span>
                <select v-model="created_at" @change="sort($event)">
                    <option :value="null">Created date:</option>
                    <option value="desc">Latest</option>
                    <option value="asc">Oldest</option>
                </select>
            </div>
        </div>
        <PostsList :sectionTitle="'Latest Posts'" :posts="posts.data"/>
        <div v-if="posts.data?.length">
            <Pagination :links="posts.links"/>
        </div>
    </section>
</template>

<style lang="scss" scoped>
.blog-section {

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;

        &-title {
            font-size: 24px;
            font-weight: bold;
            line-height: 28px;
        }
    }

}
</style>
