<script setup>
    import {Link} from "@inertiajs/vue3";

    defineProps({
        tags: Object
    });
</script>

<template>
    <div class="tags">
        <ul class="tags__list">
            <li :class="((index % 2) === 0) ? 'tags__list-item_inverted' : 'tags__list-item'"
                v-for="(tag, index) in tags"
                :key="tag.id">
                <Link :href="route('tag.show', {tag: tag.id})">
                    {{ tag.name }}
                </Link>
            </li>
        </ul>
    </div>
</template>

<style scoped>
.tags__list {
    display: flex;
    margin-bottom: 16px;
    gap: 10px;
    font-size: 14px;
    flex-wrap: wrap;
}

.tags__list-item a {
    display: flex;
    background-color: #4B6BFB;
    border-radius: 6px;
    padding: 10px;
    color: #F6F7FF;
}

.tags__list-item_inverted a {
    display: flex;
    background-color: #E8E8EA;
    border-radius: 6px;
    padding: 10px;
    color:  #4B6BFB;
}
</style>
