<script setup>
defineProps({
    header: String,
});
</script>

<template>
    <section class="page-head-title container">
        <h1>{{header}}</h1>
    </section>
</template>

<style scoped>

.page-head-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 50px;
}
</style>
