<script setup>
const props = defineProps({
    author: Object,
    date: String,
});

import {computed} from "vue";

const usersAvaPath = computed(
    () => {
        if (props.author.avatar_path) {
            return 'storage/' + props.author.avatar_path;
        }
        return 'https://placehold.co/36x36';
    }
);

</script>

<template>
    <div class="author-date-info">
        <div class="author-date-info__pic">
            <img :src='usersAvaPath' alt="Main section pic">
        </div>
        <div class="author-date-info__name">
            <span>{{ props.author.name }}</span>
        </div>
        <div class="author-date-info__date">
            <span>{{ props.date }}</span>
        </div>
    </div>
</template>

<style scoped>

.author-date-info {
    display: flex;
    align-items: center;
}

.author-date-info__pic {
    width: 36px;
    height: 36px;
    border: 1px solid #fff;
    margin-right: 12px;
}

.author-date-info__pic img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.author-date-info__name,
.author-date-info__date {
    font-size: 16px;
    color: #97989F;
}

.author-date-info__date {
    margin-left: auto;
}


.author-date-info__name {
    margin-right: 20px;
    font-weight: bold;
}
</style>
