<script setup>
import {Link} from "@inertiajs/vue3";
import moment from "moment";
import Tags from "@/Components/Tags.vue";
import PostAuthorAndDate from "@/Components/UI/Post/PostAuthorAndDate.vue";

defineProps({
    sectionTitle: String,
    posts: Object,
});

const picPath = (path, size) => {
    if (path) {
        return 'storage/' + path;
    }
    return 'https://placehold.co/' + size;
};

</script>

<template>

    <div class="posts-section__posts-list">
        <div class="posts-section__posts-list__item" v-for="post in posts" :key="post.id">
            <div class="post-picture">
                <img :src="picPath(post.thumbnail_path, '360x240')" alt="Main section pic">
            </div>
            <Tags :tags="post.tags"/>
            <Link class="post-link" :href="route('post.show', {post: post.id})">
                <h2 class="posts-section__posts-list__item-title">
                    {{ post.title }}
                </h2>
            </Link>
            <PostAuthorAndDate
                :avatarPath="picPath(post.author.avatar_path,'146x146')"
                :author=post.author
                :date='moment(post.created_at).format("MMMM, Do YYYY")'/>
        </div>
    </div>
</template>

<style scoped lang="scss">

.posts-section {

    &__posts-list {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 20px;
    }

    &__posts-list__item {
        flex: 0 0 calc(33.333% - 15px);
        display: flex;
        flex-flow: column;
        box-sizing: border-box;
        padding: 15px;
        border: 1px solid #E8E8EA;
        border-radius: 12px;
    }

    &__posts-list__item-title {
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: bold;
        line-height: 28px;
        transition: 0.3s;
    }

    &__posts-list__item-title:hover {
        color: #526af2;
    }

}

.post-picture {
    margin-bottom: 16px;

    img {
        width: 100%;
        height: auto;
    }
}

.post-link {
    margin-bottom: auto;
}

@media only screen and (max-width: 1000px) {
    .posts-section {
        &__posts-list__item {
            flex: 0 0 calc(50% - 15px);
        }
    }
}

@media only screen and (max-width: 690px) {
    .posts-section {
        &__posts-list__item {
            flex: 0 0 100%;
        }
    }
}

</style>
