<script setup>
import {Link} from "@inertiajs/vue3";
import moment from "moment";
import Tags from "@/Components/Tags.vue";
import PostAuthorAndDate from "@/Components/UI/Post/PostAuthorAndDate.vue";
import { FeEdit } from "@kalimahapps/vue-icons";

defineProps({
    sectionTitle: String,
    posts: Object,
});

const imagePath = (path, size) => {
    if (path) {
        return 'storage/' + path;
    }
    return 'https://placehold.co/' + size;
};

</script>

<template>
    <div class="posts-section__posts-list">
        <div class="posts-section__posts-list__item" v-for="post in posts" :key="post.id">
            <div class="post-picture">
                <img :src="imagePath(post.thumbnail_path, '360x240')" alt="Main section pic">
                <Link :href="route('post.edit', {post: post.id})" class="edit-post ">
                    <FeEdit class="icon-btn" />
                </Link>
            </div>
            <Tags :tags="post.tags"/>
            <div class="post-title-and-actions">
                <Link class="post-link" :href="route('post.show', {post: post.id})">
                    <h2 class="posts-section__posts-list__item-title">
                        {{ post.title }}
                    </h2>
                </Link>

            </div>
            <PostAuthorAndDate
                :avatarPath="imagePath(post.author.avatar_path, '146x146')"
                :author=post.author
                :date='moment(post.created_at).format("MMMM, Do YYYY")'/>
        </div>
    </div>
</template>

<style scoped lang="scss">

.posts-section {

    &__posts-list {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 20px;
    }

    &__posts-list__item {
        flex-basis: calc(33.333% - 15px);
        display: flex;
        flex-flow: column;
        box-sizing: border-box;
        padding: 15px;
        border: 1px solid #E8E8EA;
        border-radius: 12px;
    }

    &__posts-list__item-title {
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: bold;
        line-height: 28px;
        transition: 0.3s;
    }

    &__posts-list__item-title:hover {
        color: #526af2;
    }

}

.post-title-and-actions {
    align-items: center;
    justify-content: space-between;
    margin-bottom: auto;
}

.post-picture {
    position: relative;
    margin-bottom: 16px;

    img {
        width: 100%;
        height: auto;
    }
}

.edit-post {
    display: block;
    top: 10px;
    right: 10px;
    position: absolute;
    margin-bottom: 10px;
}
</style>
