<script setup>
import PostsList from "@/Components/UI/Post/PostsList.vue";
import PostAuthorAndDate from "@/Components/UI/Post/PostAuthorAndDate.vue";
import AdvBlock from "@/Components/UI/AdvBlock.vue";
import Tags from "@/Components/Tags.vue";
import {Link} from "@inertiajs/vue3";

defineProps({
    posts: Object,
});

</script>

<template>
    <section class="main-section">
        <div class="main-section__pic container">
            <img src='/static/main-section-pic.png' alt="Main section pic">
            <div class="main-section__badge">
                <Tags/>
                <h2 class="main-section__title">
                    The Impact of Technology on the Workplace: How Technology is Changing
                </h2>
                <PostAuthorAndDate :author="{name: 'Jason Francisco', avatar_path: null}" date="August 20, 2022"/>
            </div>
        </div>
    </section>
    <section class="advertisement container">
        <AdvBlock/>
    </section>
    <section class="posts-section container">
        <PostsList :sectionTitle="'Latest Posts'" :posts="posts"/>
        <div class="posts-section__btn">
            <Link class="btn" :href="route('blog')">View All Post</Link>
        </div>
    </section>
    <section class="advertisement container">
        <AdvBlock/>
    </section>
</template>

<style lang="scss" scoped>

.posts-section {
    margin-bottom: 40px;

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;
    }

    &__head-title {
        font-size: 24px;
        font-weight: bold;
        line-height: 28px;
    }
}

.main-section {
    margin-bottom: 144px;

    &__pic {
        position: relative;

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__title {
        margin-bottom: 24px;
        font-size: 36px;
        font-weight: bold;
    }

    &__badge {
        position: absolute;
        box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%);
        bottom: -10%;
        left: 5%;
        background-color: #fff;
        padding: 40px;
        border-radius: 12px;
        width: 50%;
    }
}

.post-picture img {
    width: 100%;
    height: auto;
}

.posts-section__btn {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1000px) {
    .main-section {
        margin-bottom: 80px;

        &__title {
            font-size: 28px;
        }

        &__badge {
            padding: 20px;
        }
    }
}

@media only screen and (max-width: 650px) {
    .main-section__badge {
        padding: 10px;
        position: static;
        width: 100%;
        box-sizing: border-box;
    }
}

@media only screen and (max-width: 420px) {
    .main-section {

        &__title {
            font-size: 25px;
        }

    }
}
</style>
