<script setup>
import {Link, router, usePage} from "@inertiajs/vue3";
import {computed, ref} from 'vue';
import {ReLogoutBoxRLine} from "@kalimahapps/vue-icons";

const page = usePage();


const showFlash = ref(false);
const isOpenedMenu = ref(false);

const showFlashBlockAndHide = () => {
    showFlash.value = true;

    setTimeout(() => {
        showFlash.value = false;
    }, 3000);
}

const flashSuccess = computed({
    get() {
        showFlashBlockAndHide();
        return page.props.flash.success;
    },
});

const flashError = computed({
    get() {
        showFlashBlockAndHide();
        return page.props.flash.error;
    },
});

const user = computed(
    () => page.props.user
);

const toggleMobileMenu = () => {
    isOpenedMenu.value = !isOpenedMenu.value;
}

router.on('before', (event) => {
    isOpenedMenu.value = false;
});

</script>

<template>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>LaraBlog</title>
        <meta name="description" content="">

    </head>
    <body>
    <header class="header container">
        <div class="logo">
            <Link :href="'/'">
                Lara<b>Blog</b>
            </Link>
        </div>
        <div
            id="mobile-nav-icon"
            :class="{ 'open': isOpenedMenu }"
            @click="toggleMobileMenu()"
        >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <Transition name="slide">
            <div v-if="isOpenedMenu" class="mobile-nav-menu">
                <ul class="mobile-nav-list">
                    <li class="mobile-nav-list__item">
                        <Link :href="route('home')">Home</Link>
                    </li>
                    <li class="mobile-nav-list__item">
                        <Link :href="route('blog')">Blog</Link>
                    </li>
                    <li class="mobile-nav-list__item">
                        <a href="#">Pages</a>
                    </li>
                    <li class="mobile-nav-list__item">
                        <a href="#">Contact</a>
                    </li>
                    <li v-if="!user" class="mobile-nav-list__item">
                        <Link :href="route('login')">Log in (Sign Up)</Link>
                    </li>
                </ul>
                <div v-if="user" class="profile-actions">
                    <Link class="" :href="route('user-account.index')" as="button">{{ user.name }}</Link>
                    <Link :href="route('logout')" method="delete" as="button">
                        <ReLogoutBoxRLine class="icon-btn"/>
                    </Link>
                </div>
            </div>
        </Transition>
        <Transition name="fade" mode="out-in">
            <div
                v-if="isOpenedMenu"
                class="mobile-nav-overlay"
                @click="toggleMobileMenu()"
            >
            </div>
        </Transition>
        <div class="header__nav_login">
            <nav class="header__nav">
                <ul class="header__nav-list">
                    <li class="header__nav-list-item">
                        <Link :href="route('home')">Home</Link>
                    </li>
                    <li class="header__nav-list-item">
                        <Link :href="route('blog')">Blog</Link>
                    </li>
                    <li class="header__nav-list-item">
                        <a href="#">Pages</a>
                    </li>
                    <li class="header__nav-list-item">
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </nav>
            <!--
            <div class="search">
                <label class="search__label">
                    <input type="text" id="header-search" name="header-search" class="header-search"
                           placeholder="Search">
                </label>
            </div>
             -->
            <div v-if="user" class="current-user">
                <Link class="" :href="route('user-account.index')">{{ user.name }}</Link>
                <Link :href="route('logout')" method="delete" as="button">
                    <ReLogoutBoxRLine class="icon-btn"/>
                </Link>
            </div>
            <div v-else class="login">
                <Link class="btn-primary" :href="route('login')">Log in (Sign Up)</Link>
            </div>
        </div>
        <Transition name="flash-message" mode="out-in">
            <div v-show="showFlash" class="flash-message">
                <div v-if="flashSuccess" class="flash-message__success">
                    {{ flashSuccess }}
                </div>
                <div v-if="flashError" class="flash-message__error">
                    {{ flashError }}
                </div>
            </div>
        </Transition>
    </header>

    <slot>No content</slot>

    <footer class="footer">
        <div class="footer__container container">
            <div class="footer__row footer__about">
                <h2 class="title_sm footer__title">About</h2>
                <p class="footer__text text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam
                </p>
                <p class="footer__info">
                    <a href="mailto:alexandrbatiuk@gmail.com"><b>Email : </b>alexandrbatiuk@gmail.com</a>
                </p>
                <p class="footer__info">
                    <b>Phone : </b>880 123 456 789
                </p>
            </div>
            <div class="footer__row footer__menu-1">
                <h2 class="title_sm footer__title">Quick Link</h2>
                <nav class="footer__nav">
                    <ul class="footer__nav-list">
                        <li class="footer__nav-list-item">
                            <Link :href="route('home')">Home</Link>
                        </li>
                        <li class="footer__nav-list-item">
                            <a href="#">About</a>
                        </li>
                        <li class="footer__nav-list-item">
                            <a href="#">Blog</a>
                        </li>
                        <li class="footer__nav-list-item">
                            <a href="#">Archived</a>
                        </li>
                        <li class="footer__nav-list-item">
                            <a href="#">Author</a>
                        </li>
                        <li class="footer__nav-list-item">
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer__row footer__menu-2">
                <h2 class="title_sm footer__title">Category</h2>
                <nav class="footer__nav">
                    <ul class="footer__nav-list">
                        <li class="footer__nav-list-item">
                            <a href="#">Lifestyle</a>
                        </li>
                        <li class="footer__nav-list-item">
                            <a href="#">Technology</a>
                        </li>
                        <li class="footer__nav-list-item">
                            <a href="#">Travel</a>
                        </li>
                        <li class="footer__nav-list-item">
                            <a href="#">Business</a>
                        </li>
                        <li class="footer__nav-list-item">
                            <a href="#">Author</a>
                        </li>
                        <li class="footer__nav-list-item">
                            <a href="#">Sports</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer>
    </body>
    </html>
</template>

<style lang="scss" scoped>

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 56px;
    position: relative;
    padding: 32px 32px 0 32px;
    box-sizing: border-box;

    &__nav_login {
        display: flex;
        gap: 5px;
        align-items: center;
    }

    &__nav-list {
        font-size: 16px;
        display: flex;

        &-item {
            margin: 0 40px 0 0;
        }
    }

    &-search {
        padding: 8px 36px 8px 16px;
        margin-right: 10px;
        background-color: #F4F4F5;
        border: 1px solid #F4F4F5;
        border-radius: 5px;
    }

    &__mobile-nav {
        position: relative;
    }
}

.mobile-nav-menu {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    height: 100vh;
    z-index: 2;
}

.mobile-nav-overlay {
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.fade {
    &-enter-active,
    &-leave-active {
        transition: opacity 0.5s ease;
    }

    &-enter-from,
    &-leave-to {
        opacity: 0;
    }

    &-leave-from,
    &-enter-to {
        opacity: 1;
    }
}

.slide {
    &-enter-active,
    &-leave-active {
        transition: all 0.3s ease-out;
    }

    &-enter-from,
    &-leave-to {
        transform: translateX(100%);
    }

    &-leave-from,
    &-enter-to {
        transform: translateX(0);
    }
}

.mobile-nav-list {
    padding: 20px 0;

    &__item {
        display: block;
        box-sizing: border-box;

        &:first-child {
            & a {
                padding: 20px 20px 20px 70px;
            }

            margin-right: 80px;
        }

        & a {
            display: block;
            padding: 20px 100px 20px 70px;
            font-size: 20px;
            font-weight: 600;
            text-decoration: underline;
        }
    }
}

#mobile-nav-icon {
    display: none;
    width: 45px;
    height: 30px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 3;

    & span {
        display: block;
        position: absolute;
        height: 6px;
        width: 100%;
        background: #4B6BFB;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    & span:nth-child(1) {
        top: 0px;
    }

    & span:nth-child(2), & span:nth-child(3) {
        top: 12px;
    }

    & span:nth-child(4) {
        top: 24px;
    }

    &.open span:nth-child(1) {
        top: 12px;
        width: 0%;
        left: 50%;
    }

    &.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    &.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    &.open span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
}

.profile-actions {
    display: flex;
    justify-content: center;
}


.logo {
    margin: 0 20% 0 0;
    font-size: 32px;

    b {
        font-weight: bold;
    }
}

.current-user {
    align-items: center;
    display: flex;
    gap: 5px;
}

.search__label {
    position: relative;

    &:before {
        position: absolute;
        content: "";
        right: 5%;
        top: 10%;
        width: 16px;
        height: 16px;
        background: url("/public/static/search-outline.svg") center / contain no-repeat;
    }
}

.flash-message {
    position: fixed;
    min-width: 400px;
    top: 100px;

    &-enter-active,
    &-leave-active {
        transition: opacity 0.5s ease;
    }

    &-enter-from,
    &-leave-to {
        opacity: 0;
    }

    &__success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
        padding: 0.75rem 1.25rem;
        border-radius: 5px;
        margin-bottom: 30px;
        border-left: 5px solid #155724;
    }

    &__error {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
        padding: 0.75rem 1.25rem;
        border-radius: 5px;
        margin-bottom: 30px;
        border-left: 5px solid #721c24;
    }
}

.footer {
    background-color: #F6F6F7;
    padding: 64px 20px;

    &__container {
        display: flex;
        flex-wrap: wrap;
    }

    &__title {
        margin-bottom: 12px;
    }

    &__text {
        margin-bottom: 24px;
    }

    &__info {
        margin-bottom: 4px;

        b {
            color: #181A2A;
            font-weight: 500;
        }
    }

    &__about {
        width: 28%;
        margin-right: 140px;
    }

    &__nav-list-item {
        margin-bottom: 8px;
    }

    &__menu-1 {
        margin-right: 80px;
    }

    &__menu-2 {
        margin-right: 138px;
    }
}

.title_sm {
    color: #181A2A;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
}

.text {
    font-size: 16px;
    line-height: 24px;
    color: #696A75;
}

@media only screen and (max-width: 850px) {
    .header__nav_login {
        display: none;
    }

    #mobile-nav-icon {
        display: block;
    }
}

@media only screen and (max-width: 650px) {

    .main-section__title {
        font-size: 25px;
    }
}

@media only screen and (max-width: 560px) {

    .footer {
        &__about {
            width: 100%;
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
}

</style>
