<script setup>
import {Link, usePage, useForm, router} from "@inertiajs/vue3";

const forgotPasswordForm = useForm({
    email: '',
});

const sendRequest = () => {
    forgotPasswordForm.post(route('password.email'));
};
</script>

<template>
    <section class="password-reset container">
        <form @submit.prevent="sendRequest">
            <div class="password-reset-form__input">
                <label class="label" for="name"> Input your Email for password resetting. </label>
                <input id="name" v-model="forgotPasswordForm.email" type="text" class="input"
                       :class="{ 'failed-input': forgotPasswordForm.errors.email }" placeholder="Email"/>
                <div class="input-error" v-if="forgotPasswordForm.errors.email">
                    {{
                        forgotPasswordForm.errors.email
                    }}
                </div>
            </div>
            <div class="password-reset-form__input">
                <button type="submit" class="btn-primary">
                    Send Link
                </button>
            </div>
        </form>
    </section>
</template>

<style scoped>
.password-reset {
    margin-bottom: 25px;
}
</style>
