<script setup>
import {ref} from 'vue';
import {Link, router, useForm} from '@inertiajs/vue3';
import PageTitle from "@/Components/UI/Page/PageTitle.vue";

const props = defineProps({
    gitlab_link: String
});

const registerForm = useForm({
    name: null,
    email: null,
    password: null,
    password_confirmation: null
});

const register = () => registerForm.post(route('user-account.store'));

const authForm = useForm({
    email: null,
    password: null,
});

const auth = () => authForm.post(route('login.store'));

let showRegisterForm = ref(true);

const toggleAuthRegister = () => {
    showRegisterForm.value = !showRegisterForm.value;
    return false;
}

</script>

<template>
    <PageTitle :header="'Authorization'"/>
    <Transition name="auth" mode="out-in">
        <section v-if="showRegisterForm" class="registration container">
            <div class="registration__title">
                <h2 class="title"> Create account and start writing! </h2>
                <button @click="toggleAuthRegister()" class="simple-link">I already have an account.</button>
            </div>
            <div class="registration__form">
                <form @submit.prevent="register">
                    <div class="registration__form-input">
                        <input id="name" v-model="registerForm.name" type="text" class="input"
                               :class="{ 'failed-input': registerForm.errors.name }" placeholder="Username"/>
                        <div class="input-error" v-if="registerForm.errors.name">{{ registerForm.errors.name }}</div>
                    </div>
                    <div class="registration__form-input">
                        <input id="email" v-model="registerForm.email" type="email" class="input"
                               :class="{ 'failed-input': registerForm.errors.email }" placeholder="Your Email"/>
                        <div class="input-error" v-if="registerForm.errors.email">{{ registerForm.errors.email }}</div>
                    </div>
                    <div class="registration__form-input">
                        <input id="password" v-model="registerForm.password" type="password" class="input"
                               :class="{ 'failed-input': registerForm.errors.password }" placeholder="Password"/>
                        <div class="input-error" v-if="registerForm.errors.password">{{
                                registerForm.errors.password
                            }}
                        </div>
                    </div>
                    <div class="registration__form-input">
                        <input id="password_confirmation" v-model="registerForm.password_confirmation" type="password"
                               class="input"
                               :class="{ 'failed-input': registerForm.errors.password_confirmation }"
                               placeholder="Confirm Password"/>
                        <div class="input-error" v-if="registerForm.errors.password_confirmation">
                            {{ registerForm.errors.password_confirmation }}
                        </div>
                    </div>
                    <div class="registration__form-input">
                        <button type="submit" class="btn-primary">
                            Create Account
                        </button>
                        <Link :href="route('password.request')" class="btn-primary"> Forgot Password</Link>
                    </div>
                </form>
                <div class="authorization__other">
                    <a :href="props.gitlab_link" class="simple-link"> Sign Up via GitLab.</a>
                </div>
            </div>
        </section>
        <section v-else-if="!showRegisterForm" class="authorization container">
            <div class="authorization__title">
                <h2 class="title"> Welcome back! We missed you! </h2>
                <button @click="toggleAuthRegister()" class="simple-link">Create an account.</button>
            </div>
            <div class="authorization__form">
                <form @submit.prevent="auth">
                    <div class="authorization__form-input">
                        <input id="email" v-model="authForm.email" type="email" class="input"
                               :class="{ 'failed-input': authForm.errors.email }" placeholder="Your Email"/>
                        <div class="input-error" v-if="authForm.errors.email">{{ authForm.errors.email }}</div>
                    </div>
                    <div class="authorization__form-input">
                        <input id="password" v-model="authForm.password" type="password" class="input"
                               :class="{ 'failed-input': authForm.errors.password }" placeholder="Password"/>
                        <div class="input-error" v-if="authForm.errors.password">{{ authForm.errors.password }}</div>
                    </div>
                    <div class="authorization__form-input">
                        <button type="submit" class="btn-primary">
                            Log In
                        </button>
                    </div>
                </form>
                <div class="authorization__other">
                    <a :href="props.gitlab_link" class="simple-link"> Sign In via GitLab.</a>
                </div>
            </div>
        </section>
    </Transition>
</template>

<style lang="scss" scoped>
.auth {
    &-enter-active,
    &-leave-active {
        transition: opacity 0.5s ease;
    }

    &-enter-from,
    &-leave-to {
        opacity: 0;
    }
}

form {
    margin-bottom: 15px;
}

.authorization {
    display: none;
}

.registration,
.authorization {
    min-height: 400px;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.registration__title,
.authorization__title {
    text-align: center;
}

.authorization > div,
.registration > div {
    flex-basis: calc(50% - 20px);
    box-sizing: border-box;
}

.registration__form-input,
.authorization__form-input {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}
</style>
