<script setup>
import {Link, usePage, useForm, router} from "@inertiajs/vue3";

const props = defineProps({
    token: String
});

const resetPasswordForm = useForm({
    email: null,
    password: null,
    password_confirmation: null,
    token: props.token
});

const send = () => {
    resetPasswordForm.post(route('password.update'));
};
</script>

<template>
    <section class="password-reset container">
        <form @submit.prevent="send">
            <div class="password-reset-form__input">
                <label class="label" for="name"> Input your Email for password resetting. </label>
                <input id="name" v-model="resetPasswordForm.email" type="text" class="input"
                       :class="{ 'failed-input': resetPasswordForm.errors.email }" placeholder="Email"/>
                <div class="input-error" v-if="resetPasswordForm.errors.email">
                    {{
                        resetPasswordForm.errors.email
                    }}
                </div>
            </div>
            <div class="password-reset-form__input">
                <input id="password" v-model="resetPasswordForm.password" type="password" class="input"
                       :class="{ 'failed-input': resetPasswordForm.errors.password }" placeholder="Password"/>
                <div class="input-error" v-if="resetPasswordForm.errors.password">{{ resetPasswordForm.errors.password }}</div>
            </div>
            <div class="password-reset-form__input">
                <input id="password_confirmation" v-model="resetPasswordForm.password_confirmation" type="password" class="input"
                       :class="{ 'failed-input': resetPasswordForm.errors.password_confirmation }"
                       placeholder="Confirm Password"/>
                <div class="input-error" v-if="resetPasswordForm.errors.password_confirmation">
                    {{ resetPasswordForm.errors.password_confirmation }}
                </div>
            </div>
            <div class="password-reset-form__input">
                <button type="submit" class="btn-primary">
                    Reset Password
                </button>
            </div>
        </form>
    </section>
</template>

<style scoped>
.password-reset {
    margin-bottom: 25px;
}
</style>
