<script setup>
import {Link} from "@inertiajs/vue3";
</script>

<template>
    <section class="user-verification container">
        <h1 class="title"> You need to be verified to see this page! </h1>
        <div>
            <Link :href="route('verification.send')" class="simple-link" method="post" as="button">Resend verification
                email
            </Link>
        </div>
    </section>
</template>

<style scoped>
 .user-verification {
     margin-bottom: 30px;
 }
</style>
